<p id="notice"><%= notice %></p>

<h1>Listing Memberships</h1>

<% if @confirmed.any? %>
  <%= render 'list', memberships: @confirmed %>
<% end %>

<% if @applications.any? %>
  <%= render 'list', memberships: @applications %>
<% end %>

<% if @confirmed.empty? && @applications.empty? %>
    <p>no memberships</p>
<% end %>

<%= link_to 'New Membership', new_membership_path %>

