<table class="table table-hover row">
  <thead>
  <tr>
    <th>name</th>
    <th>average</th>
  </tr>
  </thead>

  <tbody>
  <% best.each do |best| %>
      <tr>
        <td><%= link_to best.name, best %></td>
        <td><%= best.average_rating %></td>
      </tr>
  <% end %>
  </tbody>
</table>