<h2>List of ratings</h2>

<p>Number of ratings <%= @ratings.count %></p>

<ul class="list-group">
  <% @ratings.each do |rating| %>
      <li class="list-group-item"> <%= rating %>, <%= link_to rating.user.username, rating.user, class:"label label-info pull-right" %> </li>
  <% end %>
</ul>

<p><%= link_to('New Rating', new_rating_path, class:"btn btn-primary") if current_user %></p>